@font-face {
    font-family: Antic;
    src: url(fonts/Antic-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Antic, sans-serif;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

form {
    padding: 3rem;
}

footer {
    justify-self: flex-end;
    padding-top: 9rem;
    padding-bottom: 1rem;
}

input {
    background-color: #444444;
    margin: 5px;
    padding: 5px;
    border: #adadad solid 2px;
    border-radius: 5px;
}

.submit-button {
    background-color: #3a3a3a;
    color: #f5f5f5;
    border-color: #252525;
}

.submit-button:hover {
    background-color: #252525;
    color: #f5f5f5;
    border-color: #3a3a3a;
}

.book-container {
    display: flex;
    flex-direction: column;
    width: 50rem;
    gap: 10px;
}

.headings {
    background-color: #3a3a3a;
    padding: 0 3.5rem;
}

.books {
    flex-direction: column;
    background-color:  #2e2e2e;
    padding: 1rem 0;
}

.headings, .books {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.book {
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
}

a:hover {
    color: #f3f3f3;
    text-decoration: none;
}

a {
    color: #dddddd;
    text-decoration: none;
}